Flask
pandas
numpy
fair-esm==2.0.0
keras==2.11.0
scikit-learn
tensorflow-cpu
torch  --index-url https://download.pytorch.org/whl/cpu
joblib
gunicorn
werkzeug==2.2.2
openpyxl==3.0.9
urllib3==1.26.6
h5py
